// Overlay
.overlay {
  &.active {
    opacity: 1;
    pointer-events: auto;
  }

  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  pointer-events: none;
  width: 100%;
  height: 100vh;
  opacity: 0;

  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
