// Body
body {
	font-family: serif;
	font-weight: 400;
	font-size: 16px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

// Wrapper
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;

	overflow: hidden;
}

.main {
	flex-grow: 1;
}

// Container
.container {
	margin: 0 auto;

	max-width: 1430px;
	padding: 0 15px;
}

.disable-scroll {
	overflow-y: hidden;
}
