// Body
body {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

// Wrapper
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;

	overflow: hidden;
}

.main {
	flex-grow: 1;
}

// Container
.container {
	margin: 0 auto;

	max-width: 1430px;
	padding: 0 15px;
}

.disable-scroll {
	overflow: hidden !important;
}

.border-animate {
	position: relative;
	&::before {
		content: '';
		position: absolute;
		left: 0;
		bottom: -6px;

		height: 1px;
		width: 100%;

		background: #000;
		border-radius: 5px;
		transform: scaleX(0);
		@include trans(transform);

		transform-origin: right bottom;
	}

	@include hover {
		&::before {
			transform: scaleX(1);
			transform-origin: left bottom;
		}
	}
}
