//Burger Colors
$burgerColor: #222;
$burgerActiveColor: #222;

// Main Colors
$primary: #995151;
$secondary: #ef2314;

// extra colors
$apricot: #fbceb1;
$light: #fff;
$dark: #222;

// Medias

$medium: 992px;
$large: 1200px;
$tablet: 768px;
