<header class="header">
	<div class="header__container container">
		<!-- Logo -->
		<a width="" height="" href="#" class="header__logo logo"
			><img src="" alt="logo"
		/></a>
		<!-- Logo -->

		<div class="header__navigation">
			<nav class="nav header__nav">
				<ul class="nav__list">
					<li>
						<a href="#" class="nav__link border-animate">Home</a>
					</li>
					<li>
						<a href="#" class="nav__link border-animate">About</a>
					</li>
					<li>
						<a href="#" class="nav__link border-animate">Contact</a>
					</li>
					<li>
						<div class="dropdown" data-dropdown>
							<button class="dropdown__btn">
								<span>Dropdown</span>
								<svg class="dropdown__icon">
									<use xlink:href="assets/img/svg/sprite.svg#arrow-next"></use>
								</svg>
							</button>
							<ul class="dropdown__menu">
								<li class="dropdown__item">
									<a href="#" class="dropdown__link">Function</a>
								</li>
								<li class="dropdown__item">
									<a href="#" class="dropdown__link">Function</a>
								</li>
								<li class="dropdown__item">
									<a href="#" class="dropdown__link">Function</a>
								</li>
								<li class="dropdown__item">
									<a href="#" class="dropdown__link">Function</a>
								</li>
								<li class="dropdown__item">
									<a href="#" class="dropdown__link">Function</a>
								</li>
							</ul>
						</div>
					</li>
					<li>
						<div class="select" data-select>
							<button class="select__toggle">
								<span data-selected>Armor</span>
							</button>
							<ul class="select-menu">
								<li class="select-menu__item">Damage</li>
								<li class="select-menu__item">Defence</li>
							</ul>
						</div>
					</li>
				</ul>
			</nav>
			<div class="header__buttons">
				<button class="btn-login">Login</button>
				<button class="btn-signup">Sign Up</button>
			</div>
		</div>

		<!-- Burger -->
		<div class="burger">
			<span></span>
		</div>
		<!-- Burger -->
	</div>
</header>
