.header {
	padding: 20px 0;

	// .header__container

	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;

		gap: 20px;
	}

	// .header__logo

	&__logo {
	}

	// .header__navigation

	&__navigation {
		&.active {
			transform: translateX(0);
		}

		// Mobile Menu Styles
		@media screen and (max-width: $medium) {
			position: fixed;
			right: 0;
			top: 0;

			max-width: 320px;
			min-width: 300px;

			width: 100%;
			height: 100%;
			padding: 50px 15px 20px 15px;

			overflow-y: auto;
			overflow-x: hidden;

			z-index: $mobileMenuIndex;

			transform: translateX(100%);
			transition: transform 300ms ease-in-out;

			background-color: #fff;
		}
	}

	// .header__nav

	&__nav {
	}
}

.nav {
	// .nav__list

	&__list {
		margin: 0;
		padding: 0;
		list-style: none;

		display: flex;
		align-items: center;
		flex-wrap: wrap;

		gap: 20px 20px;

		@media screen and (max-width: $medium) {
			flex-direction: column;
		}
	}

	// .nav__link

	&__link {
		text-decoration: none;
		@media screen and (max-width: $medium) {
		}
	}
}

.logo {
	display: block;
	flex-shrink: 0;
}
