.header {
	padding: 20px 0;

	// .header__container

	&__container {
		display: flex;
		align-items: center;

		@media screen and (max-width: $medium) {
			justify-content: space-between;
		}
	}

	// .header__logo

	&__logo {
		display: block;
		flex-shrink: 0;
	}

	// .header__navigation

	&__navigation {
		display: flex;
		align-items: center;
		width: 100%;

		&.active {
			transform: translateX(0);
		}

		@media screen and (max-width: $medium) {
			position: fixed;
			overflow-y: auto;

			right: 0;
			top: 0;
			bottom: 0;
			z-index: 10;

			flex-direction: column;
			gap: 20px;

			max-width: 300px;

			padding: 50px 0;

			transform: translateX(100%);
			transition: transform 300ms ease-in-out;
			border-radius: 5px 0 0 5px;
			background-color: $light;
		}
	}

	// .header__nav

	&__nav {
		margin-left: auto;
		@media screen and (max-width: $medium) {
			margin-left: 0;
		}
	}

	// .header__buttons

	&__buttons {
		margin-left: auto;

		display: flex;
		gap: 20px;

		@media screen and (max-width: $medium) {
			margin-left: 0;
			flex-direction: column;
			align-items: center;
		}
	}

	// .header__btn
	&__btn {
		color: $dark;
		@media screen and (max-width: $medium) {
			color: $dark;
		}
	}
}

.nav {
	// .nav__list

	&__list {
		display: flex;
		align-items: center;
		gap: 50px;

		@media screen and (max-width: $medium) {
			flex-direction: column;
			gap: 20px;
		}
	}

	// .nav__item

	&__item {
	}

	// .nav__link

	&__link {
		position: relative;
		color: $dark;

		@media screen and (max-width: $medium) {
			color: $dark;
		}

		@include hover {
			&::after {
				transform: scaleX(1);
				transform-origin: left bottom;
			}
			// color: $dark;
		}

		&::after {
			content: '';
			position: absolute;
			left: 0;
			bottom: -6px;

			height: 1px;
			width: 100%;

			background: $dark;
			border-radius: 5px;
			transform: scaleX(0);
			@include trans(transform);

			transform-origin: right bottom;
		}
	}
}
